
.our-services{
    background:#F7F7F7 ;
}
.ourservice-title{
    position: relative;

    &::after{
        content: "";
        width: 50px; height: 4px; background: #1E73BE;
        position: absolute; bottom: -12px; left: 2px;
    }
}


.service-box{
    position: relative;
    .icon-box{
        position: absolute;
        left: -30%; top: 10%;
        background: #1E73BE; padding: 25px 25px; color: #fff; transform: rotate(45deg);
        border-radius: 5px; box-shadow: inset;
        &:hover{
            background: #2E363A;
        }
        .service-icon{
            font-size: 20px;
            position: absolute;
            transform: rotate(-45deg); top:20%; left: 30%;
        }
    }
    .service-description{
        font-size: 14px; font-weight: 400;
    }
    .btn-success{
        background: #2ea92e;
        font-weight: 700;
        border: none; padding: 10px;
        &:hover{
            background:#2E363A;
        }
    }
}