.banner-caption {
    
    color: #3b7fd9;
    max-width: 60%; max-height:100%;
    top: 25%;
    left: 10%;
    object-fit:contain;

    .banner-title {
        font-size: 58px;
        font-weight: 600;
        line-height: 60px;
        &.animate__animated.animate__fadeInDown {
            --animate-duration: 1s;
            --animate-delay: 0.5;
        }
    }

    .banner-body {
        margin-top: 5%;
        max-width: 600px;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        &.animate__animated.animate__fadeInDown {
            --animate-duration: 1s;
            --animate-delay: 2s;
        }
    }

    .banner-buttons {
        bottom: -30%;
        .bhg{
            border: none;
            &:hover{
                background: #18BA60;
            }
        }
    }
}

.carousel-control-prev-icon {
    border: 1px solid white;
    font-size: 14px;
    padding: 10px;
}

.carousel-control-next-icon {
    border: 1px solid white;
    font-size: 14px;
    padding: 10px;
}
